body {
  background-color: #17183B !important;
  font-family: Ubuntu !important;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #1b611b;
  transform-origin: 0%;
}

.btn1 {
  background-color: #0F1C2f !important;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
 z-index: -1;
 font-family: 'Courier New', Courier, monospace !important ;
color: #7c7a7a;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  z-index: -1;
  padding: 10px;

}

.parallax span {
  margin-right: 30px;
}